# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [36]:
# import libraries
import re
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [37]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [38]:
messages.shape

(26248, 4)

In [39]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [40]:
categories.shape

(26248, 2)

In [41]:
set(categories.id) - set(messages.id)

set()

In [42]:
categories.id.duplicated(keep='first').sum()

68

In [43]:
messages.id.duplicated(keep='first').sum()

68

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [44]:
# merge datasets
df = messages.merge(categories, how='left', on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [45]:
# see what the number of duplicated entries are
categories.id.duplicated(keep='first').sum()

68

In [46]:
df.shape

(26386, 5)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [47]:
# create a dataframe of the 36 individual category columns
categories = pd.Series(df['categories']).str.split(';',expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [48]:
# select the first row of the categories dataframe
row = categories.iloc[0]
# categories = pd.DataFrame(categories.values[0:], columns=row)

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x.split('-')[0])

In [49]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [50]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x: x.split('-')[1])
    
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(str)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# check if there is only 0 and 1 in the categories dataframe
for column in categories:
    if len(np.unique(categories[column])):
           print(column, np.unique(categories[column]))

related ['0' '1' '2']
request ['0' '1']
offer ['0' '1']
aid_related ['0' '1']
medical_help ['0' '1']
medical_products ['0' '1']
search_and_rescue ['0' '1']
security ['0' '1']
military ['0' '1']
child_alone ['0']
water ['0' '1']
food ['0' '1']
shelter ['0' '1']
clothing ['0' '1']
money ['0' '1']
missing_people ['0' '1']
refugees ['0' '1']
death ['0' '1']
other_aid ['0' '1']
infrastructure_related ['0' '1']
transport ['0' '1']
buildings ['0' '1']
electricity ['0' '1']
tools ['0' '1']
hospitals ['0' '1']
shops ['0' '1']
aid_centers ['0' '1']
other_infrastructure ['0' '1']
weather_related ['0' '1']
floods ['0' '1']
storm ['0' '1']
fire ['0' '1']
earthquake ['0' '1']
cold ['0' '1']
other_weather ['0' '1']
direct_report ['0' '1']

In [52]:
# Count number of entries where related == 2
categories['related'].value_counts()

1    20042
0     6140
2      204
Name: related, dtype: int64

In [53]:
# one category named child_alone do not have any response
categories['child_alone'].value_counts()

0    26386
Name: child_alone, dtype: int64

In [54]:
# removed the category as there is nothing to classify
categories.drop('child_alone', axis = 1, inplace = True)

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [55]:
# drop the original categories column from `df`
df = df.drop(columns='categories')
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [56]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis = 1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
# see that all the messges where the relativity is equa to 2 another lanuage has been used, since the ML pipeline
# uses only English to ID words these was removed is subsequent steps
df[df['related'] == '2']

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
117,146,Dans la zone de Saint Etienne la route de Jacm...,Nan zon st. etine rout jakmel la bloke se mize...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
221,263,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
307,373,The internet caf Net@le that's by the Dal road...,Cyber cafe net@le ki chita rout de dal tou pr ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
462,565,"Bonsoir, on est a bon repos aprs la compagnie ...",Bonswa nou nan bon repo apri teleko nan wout t...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
578,700,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
657,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
658,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
889,1063,no authority has passed by to see us. We don't...,EN OKENN OTORITE POKO PASE WE NOU NOU PAGEN KO...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
903,1080,It's Over in Gressier. The population in the a...,Se over toujou nan gresye 24e seksyon komin. P...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
931,1113,we sleep with the baby. Thanks in advance for ...,sa nou demi avek ti bebe. Mesi davans pou d no...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
937,1121,I need help in Jrmie because I was in Port-au-...,MWEN bezwen ed lan jeremi paske mwen te portop...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
939,1123,fsa pou mwen s v p map mouri mwen gen tout po ...,f la kise moniquk fasa pou mwen s v p map mour...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1234,1460,".. Gonaives, in a place called Canal Bois in F...",ou GONAVE NAN YON zon ki se kanal bwa m ekri m...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1256,1483,GEN YON TIBEBE KI MALAD NAN KOU PASKE BLOK TON...,VIRE NAN BO KKOTI YZIN NAN. WAP JWENN YON KAFO...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1317,1550,don't understand the first part. .. understand...,zwen e koman demache la ye. mesi pou konprehan...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1409,1648,Est-ce que ya monde qui aller U. s. a et qui o...,Eske yon mounn ka ale usa ak yon timoun ki ame...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1506,1747,Gens ont information qui dit que si on moins c...,GEN YON ENFOMASYON KI DI SI YON MOUN SITWAYEN ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1694,1951,This is my address : Cersine 8 Prolong. .. .,. min adres mouin : cersine 8 prolonges,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1788,2051,I would like to have some information on the l...,MWEN TA RENMEN GEN KEK ENFOMASYON SOU DENYE KA...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2354,2696,No location : Ou se trouve l'ambassade du Snga...,OU SE TROUVE LAMBASSADE DU SENEGAL EN HAITI?,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2479,2840,Je veux savoir comment je peux obtenir de l'ai...,I want to know how i can get some support for ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2544,2920,"142, Ruelle Beaulieu, Mon Repos 44 Carrefour","142, ruelle beaulieu mon repos 44 carrefour",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2560,2936,". .. Esdras. Address : Solidarit Village, Tou...",UL ESDRAS ADRESSE VILLAGE SOLIDARITE RUE T LOU...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3033,3481,Route des dalles prolonges #277 after Morne Je...,route des dalles prolongue # 277 apres le morn...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3138,3603,we are in rue Dessalines Petit goaves and it n...,Nous sommes rue Dessalines ( petit-gouve ) et...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3374,3866,I am very happy to get the messages that tell ...,M byen kontan jwenn mesaj nou yo ki enfome m d...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3630,4145,mouin vle kite ayiti depi kek jou.,I want to leave haiti please for some days,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4609,5219,Mwen ta renmen jwenn yon djb. ske gen posiblit...,"I wannan found one jod, how like I can got it....",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12392,14593,SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...,SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12396,14598,TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...,TAUSEEF KALA / MANGLI VIA / ESS ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12397,14601,TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...,NAAM.TAUSEEF KHAN S/ AKBAR DIN. MIANWALI KIYA ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12398,14602,TEH SUHBAT PUR VILL NASEER KHAN KHOSA MY PRESE...,TEH SUHBAT PUR VILL NASEER KHAN KHOSA Mera Var...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12407,14613,UN aur UN K Nimaidon ko Apeel krt hain k? Hama...,! a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12416,14632,I allhadino khaskheli UC chatto a dehe a shalu...,allhadino khaskheli chatto dehe a shalunka ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12418,14635,village koor mir mohmmad u c burira takuka kha...,"GAON: KOOR, MERA NAAM MOHAMMAD U C BURIRA TAKU...",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12425,14643,gaav valay aahar aor aarthik samashyaa saamna ...,villagers r facing food and financial problm k...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12427,14645,"CONNFCTION / . SOLANGI, ...",CONNFCTION B / C . VILLAGE ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12479,14720,@jujoffer: So Frankenstorm has been reduced to...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12685,14980,#SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12758,15073,atrickSF @antmarshall @kleankut1 @somarlavous ...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13732,16248,"Les habitants, dont l'activité est essentielle...",NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14938,17564,"Jusqu'à présent, les 133 femmes qui participen...",NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15029,17668,Despite rapid deliveries of tents and other re...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15609,18290,All available resources were put forward to de...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15933,18650,The six countries will also adopt a training c...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15979,18705,"""It was very windy and there were heavy thunde...",NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16046,18777,The 50 international hospital staff lived in a...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16925,19747,L'Armée suisse a cependant le savoir-faire et ...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17528,20421,PETR V. ILIICHEV (Russian Federation) said the...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18381,21367,"* Par ailleurs, aucune victime française n'a é...",NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18644,21661,Refugees International therefore recommends that:,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19849,22985,This combination of low agricultural productio...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20192,23358,"crop, loss of hydro-electric generating capaci...",NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20465,23662,transferred to a sanitary landfill site by a,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20636,23861,Families also have solar lamps which can be re...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22481,25874,Read the [full blog post](http://www.odi.org.u...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23537,27071,Actualmente e independientemente de la ayuda d...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25385,29126,Mali's former President Amadou Toumani Touré -...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [58]:
# check number of duplicates
df.duplicated(keep='first').sum()

170

In [59]:
# drop duplicates
df = df.drop_duplicates()

In [60]:
# check number of duplicates
df.duplicated(keep='first').sum()

0

In [61]:
df.shape

(26216, 39)

In [62]:
#Drop the rows with relates == 2 
df = df[df['related'] != '2']

In [63]:
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
df.shape

(26028, 39)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [65]:
# Steps to save the clean data in DisasterResponse.db with table name df_Message
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('df_Message', engine, index=False,  if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [ ]:
# This cell was used to create modular code for the IDE workspace to perform the ETL process
import sys
import re
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

def load_data(messages_filepath, categories_filepath):
    
    messages = pd.read_csv(messages_filepath)
    categories = pd.read_csv(categories_filepath)
    
    df = messages.merge(categories, how='left', on='id')
    return df


def clean_data(df):
    categories = pd.Series(df['categories']).str.split(';',expand=True)
    row = categories.iloc[0]
    category_colnames = row.apply(lambda x: x.split('-')[0])
    categories.columns = category_colnames
    for column in categories:
        categories[column] = categories[column].apply(lambda x: x.split('-')[1])
        categories[column] = categories[column].astype(str)
        
    df = df.drop(columns='categories')
    df = pd.concat([df, categories], axis = 1)
    df = df.drop_duplicates()
    df = df[df['related'] != '2']
    return df


def save_data(df, database_filename):
    engine = create_engine('sqlite:///' + database_filename)
    df.to_sql('df_Message', engine, index=False,  if_exists='replace')

In [ ]:
df = load_data('messages.csv', 'categories.csv')

In [ ]:
clean_data(df)

In [ ]:
save_data(df,'DisasterResponse.db')

In [72]:
df.message[102]

'Our imcomprehensibley of 9 member was repatriated incomprehensible - (Location) Duvivier, Fond Grango'

In [73]:
df.message[1002]

'I would like to find food at least to take care of the people who are in my care or a little money. Christ come bac'

In [74]:
df.message[1024]

"We are near Savanne on the road to Jacmel. We need help we don't have food or water"

In [75]:
df.message[1111]

'Area of Tiburon has no aid. Please help us.'

In [77]:
df.message[1231]

'This message has already been translated. it is about Reservoir, in Gressier. See coordinates.'

In [80]:
df.message[1233]

"I used to live in PaP. Now I'm in Montruis. What are the risks for that area for Friday, Jan 22?"